.button {
	height: 30px;
	width: 150px;
}

#tags {
	float: left;
	background-color: white;
}

#thumbnails {
	float: right;
	background-color: white;
}

body {
	background-color: coral;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}