.button {
	height: 30px;
	width: 150px;
}

#tags {
	background-color: white;
}

body {
	background-color: coral;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}